<div id="about" style="scroll-margin-top: -19rem;" class="indigo-stripe">
    <MudContainer Style="transform: skewY(12deg); position: relative; color: #adbdcc;">
        <MudStack Spacing="8">
            <MudText Typo="Typo.h4" Style="color: white;">About me</MudText>
            <MudGrid Spacing="10" class="justify-center">
                <MudItem xs="12" md="6">
                    <MudStack>
                        <MudText Typo="Typo.subtitle1">
                            My name is Thomas Féray-Desgranges, but please, call me <b>Tom</b>!
                        </MudText>
                        <MudText Typo="Typo.subtitle1">
                            Raised in a tech-oriented family in France, I have a strong interest in computers and
                            coding. As a dual citizen of <b>France</b> and the <b>U.S.</b>, I am now based in San Diego
                            County. I am open to both <b>internship</b> and <b>full-time</b> opportunities anywhere in
                            the U.S.
                        </MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="10" md="6">
                    <MudImage Src="images/polarsteps.png" Alt="Mexico Roadtrip" Class="rounded-lg" Fluid="true"
                        Elevation="8" />
                </MudItem>

                <MudItem xs="12" md="6" class="order-md-4">
                    <MudStack>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.PhotoCameraBack" Size="Size.Large" />
                            <MudIcon Icon="@Icons.Material.Filled.Explore" Size="Size.Large" />
                        </MudStack>
                        <MudText Typo="Typo.subtitle1">
                            My favorite hobbies include <b>traveling</b> and taking <b>pictures</b> (mostly
                            <b>timelapses</b> and <b>astrophotography</b>) everywhere I go. And what better experience
                            than to arrive in the U.S. doing a 2 months solo road trip through Mexico and the United
                            States!
                        </MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="12" md="6" class="order-md-3">
                    <MudStack>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.School" Size="Size.Large" />
                            <MudIcon Icon="@Icons.Material.Filled.Computer" Size="Size.Large" />
                        </MudStack>
                        <MudText Typo="Typo.subtitle1">
                            My favorite subjects at school were Maths and Physics. After completing high school in
                            France, I wasn't sure what I wanted to do, so I decided to pursue studies in <b>Science</b>
                            for a 2 year degree. I then realized that I wanted to become a software developer which led
                            me to <MudLink Href="https://ensim.univ-lemans.fr/fr/about-us.html" Target="_blank"
                                Typo="Typo.subtitle1"><b>ENSIM</b></MudLink> (<b>University of Le Mans</b>), to prepare
                            a Master's Degree in <b>Computer Science</b>.
                        </MudText>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudStack>
    </MudContainer>
</div>