<div id="about" style="scroll-margin-top: -20rem;" class="indigo-stripe">
    <MudContainer Style="transform: skewY(12deg); position: relative; color: #adbdcc;">
        <MudStack Spacing="8">
            <MudText Typo="Typo.h4" Style="color: white;">About me</MudText>
            <MudGrid Spacing="6" class="justify-center">
                <MudItem xs="12" md="6">
                    <MudStack>
                        <MudText Typo="Typo.subtitle1">
                            My name is Thomas Féray-Desgranges, but please, call me <b>Tom</b>!
                        </MudText>
                        <MudText Typo="Typo.subtitle1">
                            Raised in a tech-oriented family in France, I have a strong interest in computers and
                            coding. As a dual citizen of <b>France</b> and the <b>U.S.</b>, I am now based in San Diego.
                            I am open to both <b>internship</b> and <b>full-time</b> opportunities anywhere in the U.S.
                        </MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="10" md="6">
                    <MudStack AlignItems="AlignItems.Center">
                        <MudImage Src="images/polarsteps.png" Alt="Mexico Roadtrip" Class="rounded-lg" Fluid="true"
                            Elevation="8" />
                        <MudText Align="Align.Center"><i>My 2 months road trip through Mexico and the U.S.A.</i></MudText>
                    </MudStack>
                </MudItem>

                <MudItem xs="12" md="6" class="order-md-4">
                    <MudStack>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.PhotoCameraBack" Size="Size.Large" />
                            <MudIcon Icon="@Icons.Material.Filled.Explore" Size="Size.Large" />
                        </MudStack>
                        <MudText Typo="Typo.subtitle1">
                            My favorite hobbies include <b>traveling</b> and taking <b>pictures</b> (mostly
                            <b>timelapses</b> and <b>astrophotography</b>) everywhere I go. And what better experience
                            than to arrive in the U.S. doing a 2 months solo road trip through Mexico and the United
                            States!
                        </MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="12" md="6" class="order-md-3">
                    <MudStack>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.School" Size="Size.Large" />
                            <MudIcon Icon="@Icons.Material.Filled.Computer" Size="Size.Large" />
                        </MudStack>
                        <MudText Typo="Typo.subtitle1">
                            <p><strong>Maths</strong> and <strong>physics</strong> have always been my favorite
                                subjects. Inspired by these, I pursued a two-year <strong>Science</strong> degree after
                                high school in France. This path helped me realize that I have a strong passion for
                                <strong>software development</strong>. This is why I chose to enroll in a Computer
                                Science Master&#39;s Degree at the&nbsp;<strong>University of Le Mans</strong>, France.
                                With my coursework now complete, I am now seeking a professional position.</p>
                        </MudText>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudStack>
    </MudContainer>
</div>