<div style="background-color: #f9fafc; padding-top: 30px; padding-bottom: 50px; margin-top: 60px">
    <MudContainer>
        <MudStack AlignItems="AlignItems.Start">
            @* <MudText Typo="Typo.h4">This site</MudText> *@
            <MudText Typo="Typo.subtitle2">This website was designed on <b>Figma</b> and developed as a web app using
                <b>Blazor</b> and
                the <b>MudBlazor</b>
                library. Their website design largely influenced this site. </MudText>
        </MudStack>

    </MudContainer>
</div>