<div id="footer" style="background-color: #f9fafc; padding-top: 40px; padding-bottom: 40px; margin-top: 60px">
    <MudContainer>
        <MudStack AlignItems="AlignItems.Start">
            <MudText Typo="Typo.subtitle2">
                This website was designed on <b>Figma</b> and developed as a web app using <b>Blazor</b> and the
                <MudLink Href="https://mudblazor.com/" Target="_blank" Typo="Typo.subtitle2"><b>MudBlazor</b></MudLink>
                library. Their website design largely influenced this site.
            </MudText>
        </MudStack>
    </MudContainer>
</div>