<MudContainer class="mt-16 pt-md-16">
    <MudGrid Spacing="10">
        <MudItem md="7" xs="12">
            <MudStack Spacing="4" class="align-items-center align-items-md-start">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.h1">Hi, I'm Tom</MudText>
                    <MudText Typo="Typo.h1">
                        Jr.<span class="mud-gradient"> Software Developer</span></MudText>
                </MudStack>
                <MudText Typo="Typo.subtitle1" class="mud-text-secondary">
                    <p>Graduating <strong>Computer Science Master's Degree</strong> student seeking both internship and
                        full-time opportunities. Foundations in various programming languages (<strong>Java</strong>,
                        <strong>C#</strong>, <strong>Javascript</strong>, <strong>Python</strong>), frameworks
                        (<strong>Spring Boot</strong>, <strong>Blazor</strong>, <strong>Flutter</strong>,
                        <strong>Ionic</strong>), and platforms (<strong>VS Code</strong>, <strong>Jupyter</strong>,
                        <strong>Figma</strong>) in several IT domains such as web, mobile, desktop, and artificial
                        intelligence.
                    </p>
                </MudText>
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Custom.FileFormats.FilePdf" Color="Color.Primary"
                    Size="Size.Large" DisableElevation="true" Link="data/resume.pdf" Target="_blank"
                    Style="text-transform:none; background-image: linear-gradient(82deg,#594ae2 0%,#7467ef 100%,#594ae2 200%);">
                    Read my Resume
                </MudButton>
            </MudStack>
        </MudItem>
        <MudItem md="5" xs="12" class="d-flex justify-center">
            <MudImage Src="images/tom2023.jpg" Alt="Profile Picture" Elevation="8" class="rounded-circle" Width="350"
                Height="350" />
        </MudItem>
    </MudGrid>
</MudContainer>