<MudContainer Style="margin-top: 150px;">
    <MudStack Row="true" Spacing="16">
        <MudPaper Elevation="0" Width="44rem">
            <MudStack Spacing="4">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.h2">Hi, I'm Tom</MudText>
                    <MudText Typo="Typo.h2">Jr. <span style="color: #6455e7;">Software Developer</span></MudText>
                </MudStack>
                <MudText Typo="Typo.subtitle1">5th year Computer Science student seeking a 6 months end of studies
                    internship.
                    Foundations in various programming languages (<b>Java</b>, <b>C#</b>, <b>Javascript</b>,
                    <b>Python</b>), frameworks (<b>Spring
                        Boot</b>, <b>Blazor</b>, <b>Flutter</b>, <b>Ionic</b>) and platforms (<b>VS Code</b>,
                    <b>Jupyter</b>, <b>Figma</b>) in several IT domains such as web, mobile,
                    desktop and artificial intelligence.
                </MudText>
            </MudStack>
        </MudPaper>
        <MudImage Src="images/tom2023.jpg" Alt="Profile Picture" Elevation="8" class="rounded-circle" Width="350"
            Height="350" />
    </MudStack>
</MudContainer>