<MudContainer class="mt-16 pt-md-16">
    <MudGrid Spacing="10">
        <MudItem md="7" xs="12">
            <MudStack Spacing="4">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.h2" Align="Align.Center">Hi, I'm Tom</MudText>
                    <MudText Typo="Typo.h2" Align="Align.Center">Jr. <span class="mud-gradient">
                            Software Developer</span></MudText>
                </MudStack>
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    <p>Graduating Master&#39;s Degree Computer Science student seeking both internship and full-time
                        opportunities. Foundations in various programming languages (<strong>Java</strong>,
                        <strong>C#</strong>, <strong>Javascript</strong>, <strong>Python</strong>), frameworks
                        (<strong>Spring Boot</strong>, <strong>Blazor</strong>, <strong>Flutter</strong>,
                        <strong>Ionic</strong>), and platforms (<strong>VS Code</strong>, <strong>Jupyter</strong>,
                        <strong>Figma</strong>) in several IT domains such as web, mobile, desktop, and artificial
                        intelligence.</p>
                </MudText>
            </MudStack>
        </MudItem>
        <MudItem md="5" xs="12" class="d-flex justify-center">
            <MudImage Src="images/tom2023.jpg" Alt="Profile Picture" Elevation="8" class="rounded-circle" Width="350"
                Height="350" />
        </MudItem>
    </MudGrid>
</MudContainer>