@inherits LayoutComponentBase

<MudThemeProvider Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <TopNavbar />
    <main>
        @Body
    </main>
</div>

@code {
    MudTheme CustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                TextSecondary = "#425466",
            },
            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "Public Sans", "Roboto", "Arial", "sans-serif" },
                },
                H1 = new H1()
                {
                    FontSize = "4rem",
                    FontWeight = 700,
                },
                H4 = new H4()
                {
                    FontSize = "1.8rem",
                    FontWeight = 700,
                },
                Subtitle1 = new Subtitle1()
                {
                    FontSize = "1.1rem",
                    FontWeight = 500,
                },
                Subtitle2 = new Subtitle2()
                {
                    FontSize = "1rem",
                },
            },
        };
}