<MudStack class="px-6 pt-2" Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
    <div class="d-none d-md-flex">
        <MudStack Row="true" Spacing="3">
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="#" Size="Size.Large" class="rounded-lg">
                Tom FD
            </MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="#myprojects" class="rounded-lg">
                My Projects
            </MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="#about" class="rounded-lg">
                About me
            </MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="#contact" class="rounded-lg">
                Contact
            </MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="#footer" class="rounded-lg">
                This Site
            </MudButton>
        </MudStack>
    </div>

    <div>
        <MudStack Row="true" Spacing="3">
            <MudTooltip Text="Instagram" Duration="1000">
                <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Color="Color.Dark"
                    Href="https://www.instagram.com/tomferdes/" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="LinkedIn" Duration="1000">
                <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Dark"
                    Href="https://www.linkedin.com/in/thomas-fd" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="GitHub" Duration="1000">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Dark"
                    Href="https://github.com/Managatrix" Target="_blank" />
            </MudTooltip>
        </MudStack>
    </div>
</MudStack>

<AnchorNavigation />